<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${'user ID: ' + user.getId()}">VALUE</p>

<p th:text="${'user name: ' + user.getName()}">VALUE</p>

<p th:text="${'user age: ' + user.getAge()}">VALUE</p>

<p th:text="${'user email: ' + user.getEmail()}">VALUE</p>

<a th:href="@{/user/list}" th:text="${'Go back to users list'}"></a>

<p></p>

<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>

<p></p>

<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>